################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bsdiff/obj/Debug/net7.0/ref/bsdiff.dll
/bsdiff/obj/Debug/net7.0/refint/bsdiff.dll
/bsdiff/obj/Debug/net7.0/bsdiff.pdb
/bsdiff/obj/Debug/net7.0/bsdiff.genruntimeconfig.cache
/bsdiff/obj/Debug/net7.0/bsdiff.dll
/bsdiff/obj/Debug/net7.0/bsdiff.csproj.FileListAbsolute.txt
/bsdiff/obj/Debug/net7.0/bsdiff.csproj.CoreCompileInputs.cache
/bsdiff/obj/Debug/net7.0/bsdiff.csproj.AssemblyReference.cache
/bsdiff/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/bsdiff/obj/Release/net7.0/ref/bsdiff.dll
/bsdiff/obj/Release/net7.0/refint/bsdiff.dll
/Bsdiff.Core/bin/Debug/netstandard2.1
/Bsdiff.Core/obj
/bspatch/bin/Debug/net5.0/ICSharpCode.SharpZipLib.dll
/bspatch/bin/Debug/net5.0/bspatch.runtimeconfig.json
/bspatch/bin/Debug/net5.0/bspatch.runtimeconfig.dev.json
/bspatch/bin/Debug/net5.0/bspatch.pdb
/bspatch/bin/Debug/net5.0/bspatch.exe
/bspatch/bin/Debug/net5.0/bspatch.dll
/bspatch/bin/Debug/net5.0/bspatch.deps.json
/bspatch/bin/Debug/net5.0/Bsdiff.Core.pdb
/bspatch/bin/Debug/net5.0/Bsdiff.Core.dll
/bspatch/bin/Debug/net7.0/bspatch.pdb
/bspatch/bin/Debug/net7.0/bspatch.exe
/bspatch/bin/Debug/net7.0/bspatch.dll
/bspatch/bin/Debug/net7.0/bspatch.deps.json
/bspatch/bin/Debug/net7.0/Bsdiff.Core.pdb
/bspatch/bin/Debug/net7.0/Bsdiff.Core.dll
/bspatch/obj/Debug/net5.0/refint/bspatch.dll
/bspatch/obj/Debug/net5.0/ref/bspatch.dll
/bspatch/obj/Debug/net5.0/bspatch.pdb
/bspatch/obj/Debug/net5.0/bspatch.GlobalUsings.g.cs
/bspatch/obj/Debug/net5.0/bspatch.genruntimeconfig.cache
/bspatch/obj/Debug/net5.0/bspatch.GeneratedMSBuildEditorConfig.editorconfig
/bspatch/obj/Debug/net5.0/bspatch.dll
/bspatch/obj/Debug/net5.0/bspatch.csproj.FileListAbsolute.txt
/bspatch/obj/Debug/net5.0/bspatch.csproj.CoreCompileInputs.cache
/bspatch/obj/Debug/net5.0/bspatch.csproj.CopyComplete
/bspatch/obj/Debug/net5.0/bspatch.csproj.AssemblyReference.cache
/bspatch/obj/Debug/net5.0/bspatch.assets.cache
/bspatch/obj/Debug/net5.0/bspatch.AssemblyInfoInputs.cache
/bspatch/obj/Debug/net5.0/bspatch.AssemblyInfo.cs
/bspatch/obj/Debug/net5.0/apphost.exe
/bspatch/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/bspatch/obj/Debug/net7.0/bspatch.pdb
/bspatch/obj/Debug/net7.0/bspatch.genruntimeconfig.cache
/bspatch/obj/Debug/net7.0/bspatch.dll
/bspatch/obj/Debug/net7.0/bspatch.csproj.FileListAbsolute.txt
/bspatch/obj/Debug/net7.0/bspatch.csproj.CoreCompileInputs.cache
/bspatch/obj/Debug/net7.0/bspatch.csproj.AssemblyReference.cache
/bspatch/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/bspatch/obj/Release/net7.0/refint/bspatch.dll
/bspatch/obj/Release/net7.0/ref/bspatch.dll
/bspatch/obj/project.nuget.cache
/bspatch/obj/project.assets.json
/bspatch/obj/bspatch.csproj.nuget.dgspec.json
/bsdiff/Properties/PublishProfiles/FolderProfile 1.pubxml
/bsdiff/Properties/PublishProfiles/FolderProfile.pubxml
/bsdiff/obj/bsdiff.csproj.nuget.g.targets
/bsdiff/obj/bsdiff.csproj.nuget.g.props
/bsdiff/obj/Debug/net7.0/bsdiff.GeneratedMSBuildEditorConfig.editorconfig
/bsdiff/obj/Debug/net7.0/bsdiff.csproj.CopyComplete
/bsdiff/obj/Debug/net7.0/bsdiff.assets.cache
/bsdiff/obj/Debug/net7.0/bsdiff.AssemblyInfoInputs.cache
/bsdiff/obj/Debug/net7.0/bsdiff.AssemblyInfo.cs
/bsdiff/obj/Debug/net7.0/apphost.exe
/bsdiff/obj/Release/net7.0/bsdiff.GeneratedMSBuildEditorConfig.editorconfig
/bsdiff/obj/Release/net7.0/bsdiff.csproj.AssemblyReference.cache
/bsdiff/obj/Release/net7.0/bsdiff.AssemblyInfoInputs.cache
/bsdiff/obj/Release/net7.0/bsdiff.AssemblyInfo.cs
/bsdiff/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/bsdiff/bin/Debug/net7.0/ICSharpCode.SharpZipLib.dll
/bsdiff/bin/Debug/net7.0/bsdiff.runtimeconfig.json
/bspatch/bin/Debug/net7.0/ICSharpCode.SharpZipLib.dll
/bspatch/bin/Debug/net7.0/bspatch.runtimeconfig.json
/bspatch/obj/bspatch.csproj.nuget.g.targets
/bspatch/obj/bspatch.csproj.nuget.g.props
/bspatch/obj/Debug/net7.0/bspatch.GeneratedMSBuildEditorConfig.editorconfig
/bspatch/obj/Debug/net7.0/bspatch.csproj.CopyComplete
/bspatch/obj/Debug/net7.0/bspatch.assets.cache
/bspatch/obj/Debug/net7.0/bspatch.AssemblyInfoInputs.cache
/bspatch/obj/Debug/net7.0/bspatch.AssemblyInfo.cs
/bspatch/obj/Debug/net7.0/apphost.exe
/bspatch/obj/Debug/net7.0/refint/bspatch.dll
/bspatch/obj/Debug/net7.0/ref/bspatch.dll
/bspatch/obj/Release/net7.0/bspatch.GeneratedMSBuildEditorConfig.editorconfig
/bspatch/obj/Release/net7.0/bspatch.csproj.AssemblyReference.cache
/bspatch/obj/Release/net7.0/bspatch.assets.cache
/bspatch/obj/Release/net7.0/bspatch.AssemblyInfoInputs.cache
/bspatch/obj/Release/net7.0/bspatch.AssemblyInfo.cs
/bspatch/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/bspatch/Properties/PublishProfiles/FolderProfile.pubxml
